apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-discord-bot
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-discord-bot
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}-discord-bot
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}-discord-bot
    spec:
      serviceAccountName: {{ .Release.Name }}-discord-bot
      containers:
      - name: {{ .Release.Name }}-discord-bot
        image: {{ .Values.discordBotImage }}
        imagePullPolicy: Always
        env:
        - name: DISCORD_TOKEN
          valueFrom:
            {{- if .Values.vault.enabled }}
            secretKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: DISCORD_TOKEN
            {{- else }}
            configMapKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: DISCORD_TOKEN
            {{- end }}
        - name: DISCORD_CLIENT_ID
          valueFrom:
            {{- if .Values.vault.enabled }}
            secretKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: DISCORD_CLIENT_ID
            {{- else }}
            configMapKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: DISCORD_CLIENT_ID
            {{- end }}
        - name: GUILD_IDS
          valueFrom:
            {{- if .Values.vault.enabled }}
            secretKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: GUILD_IDS
            {{- else }}
            configMapKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: GUILD_IDS
            {{- end }}
        - name: SERVERS
          valueFrom:
            {{- if .Values.vault.enabled }}
            secretKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: SERVERS
            {{- else }}
            configMapKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: SERVERS
            {{- end }}
        - name: NAMESPACE
          valueFrom:
            {{- if .Values.vault.enabled }}
            secretKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: NAMESPACE
            {{- else }}
            configMapKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: NAMESPACE
            {{- end }}
        - name: JOIN_CODE_LOOP_COUNT
          valueFrom:
            {{- if .Values.vault.enabled }}
            secretKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: JOIN_CODE_LOOP_COUNT
              optional: true
            {{- else }}
            configMapKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: JOIN_CODE_LOOP_COUNT
              optional: true
            {{- end }}
        - name: JOIN_CODE_LOOP_TIMEOUT_MILLIS
          valueFrom:
            {{- if .Values.vault.enabled }}
            secretKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: JOIN_CODE_LOOP_TIMEOUT_MILLIS
              optional: true
            {{- else }}
            configMapKeyRef:
              name: {{ .Release.Name }}-discord-bot
              key: JOIN_CODE_LOOP_TIMEOUT_MILLIS
              optional: true
            {{- end }}

