name: Create Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev-*

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Initial checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: "0"

      - name: Set up Node.js
        uses: actions/setup-node@v4.4.0
        with:
          cache: "npm"
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build project
        run: npm run build

      - name: Make version update script executable
        run: chmod +x .github/ci-helpers/update_versions.sh

      - name: Run Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
